.menu {
    width: 100%;
    display: grid;
    column-gap: 2.5%;
    padding: 10px 6.25% 10px 6.25% ;
    grid-template-columns: 20% 20% 20% 20%;
    background-color:rgb(253, 243, 229);
    position: fixed;
    top: 0;
    z-index: 100;
}

.menu-link {
    font-weight:normal;
    text-decoration:none;
    color:black;
}

.menu-item {
    text-align: center;
    background-color: rgb(253, 243, 229);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.outline {
    width: 50%;
    margin:0 auto;
    background-color:blanchedalmond;
    padding: 100px 25px 100px 25px;
}

.centered{
    text-align:center;
}

.paragraph{
    font-family: Cambria;
    text-align: justify;
}

.footer {
    width: 100%;
    display: grid;
    column-gap: 5%;
    padding: 10px 15% 10px 15% ;
    grid-template-columns: 10% 10% 10% 10% 10%;
    background-color:rgb(253, 243, 229);
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.footer-link {
    font-weight:normal;
    text-decoration:none;
    color:black;
}

.footer-item {
    text-align: center;
    background-color: rgb(253, 243, 229);
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.current {
    background-color: blanchedalmond;
}

h1 {
    font-style: oblique;
    font-size: xx-large;
    color: rgb(94, 94, 94);
}

h2 {
    font-style: oblique;
    font-size: x-large;
    color: rgb(70, 70, 70);
}